<template>
    <div class="wrapper">
        <div class="pokeball">
            <div class="pokeball-line"></div>
            <div class="pokeball-dot"></div>
            <div class="pokeball-half"></div>
        </div>
        <div class="obscurator"></div>
    </div>
</template>

<style scoped>

.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}

.pokeball-line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 3px;
  background-color: black;
}

.pokeball-dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 3px solid black;
  background-color: white;
  border-radius: 50%;
}

.pokeball-half {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  width: 100%;
  height: 50%;
  border-radius-top: 50%;
  background-color: red;
  z-index: -2;
}

.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50% ;
  position: relative;
  overflow: hidden;
  border: 3px solid;
  animation: frames .8s  linear 0s infinite;
  z-index: 99999;
}

@keyframes frames{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.obscurator {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    z-index: 9999;
}
</style>