<template>
    <div class="pokemondiv">
            <img class="image" :src="img">
            <button class="deletepkmn"  @click="this.test()" v-if="isHidden"> </button>     
        </div>
</template>

<script>
export default ({
    methods:{
        test(){
            this.$emit('deleted');
        }
    },
    props: { 
        img: String,
        isHidden: Boolean,
        Value: String,
        key: Number,
    },
})
</script>

<style>
.pokemondiv {
    width: 12.5%;
    min-width:12.5%;
    height: 100px;
    object-fit: contain;
    padding:1%;
    display:flex;
    flex-direction: row ;
}

.deletepkmn{
    background: red;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius:10px;
    background-image: url("../assets/delete.svg");
    background-size: contain;
    background-repeat: no-repeat;
    padding:1%;
    width: 50%;
    height:40%;
    z-index: 10; 
    min-width:20%;
    min-height:20%;
    object-fit: contain;
    margin-right:1%;
}

.deletepkmn:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.image{
    height: 100px; 
    width: 100px;
    object-fit: contain;
}

.image:hover{
    transition: 0.5s;
    transform: scale(1.2)
}


</style>