<template>
  <div class="Error">
    <h1>404 - Page Not Found</h1>
  </div>
</template>

<style>
.Error {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  align-items: center;
  margin-top: 10%;
}
</style>