
<template>
  <div class="all">
    <img src="bgs/bg1.jpg" rel="preload" style="display: none">
    <img src="bgs/bg2.jpg" rel="preload" style="display: none">
    <img src="bgs/bg3.jpg" rel="preload" style="display: none">
    <img src="bgs/bg4.jpg" rel="preload" style="display: none">
    <div class="boxcontainer">
      <div class="toolbar">
        <div class="switcher">
          <select name="switch" v-on:change="requestBox()" v-model="boxBackground" class="switch">
            <option value="1">Box 1</option>
            <option value="2">Box 2</option>
            <option value="3">Box 3</option>
            <option value="4">Box 4</option>
          </select>
        </div>
        <div class="btncontainer">
          <router-link v-if="logged" class="rlink" :to="`/pokemonAddList/${id_box[boxBackground - 1].id}`"><button class="action"><img
                src="../assets/addcircle.svg"></button></router-link>
          <button class="action" v-if="logged"  @click="toggle()"><img src="../assets/delete.svg"></button>
        </div>
      </div>
      <div class="box" :key="key" :style="`-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1s; /* Firefox < 16 */--box-bg: url(bgs/bg${boxBackground}.jpg)`">

        <Loader v-if="logged"  v-bind:hidden="loaded" />
        <draggable class="draggable" :list="pokemons" v-on:change="log">
          <h1 class="unlogged" v-if="!logged">Effettua il login per accedere ai tuoi box!</h1> 
          <Pokemon class="pkmn" v-if="logged"  v-for="pokemon in pokemons" @deleted="delete_(pokemon.pok_id)" :box="boxBackground"
            :isHidden="isHidden" :Value="pokemon.pok_id"
            :img="'https://img.pokemondb.net/sprites/home/normal/' + pokemon.pok_name + '.png'"></Pokemon>
        </draggable>
      </div>
    </div>
  </div>
</template>


<script>
import Pokemon from "@/components/Pokemon.vue";
import Loader from "@/components/Loader.vue";
import { VueDraggableNext } from 'vue-draggable-next'

export default ({
  data() {
    return {
      boxBackground: 1,
      pokemons: [],
      enabled: true,
      dragging: false,
      isHidden: false,
      key: 0,
      id_box: {
      },
      loaded: false,
      logged: false,
    }
  },
  async beforeMount() {
    var token = this.getCookie('token');
    if (token == "" || token == null) {
      this.logged = false;
    } else {
      this.logged = true;
    }
    var utente_id = this.getCookie('name');

    this.id_box = await (await fetch("http://localhost:8080/requireUserId/" + utente_id, {
      headers: {
        'Authorization': 'Bearer ' + token
      }
    })).json();

    this.requestBox();

  },
  mounted() {
    this.loaded = false;
  },
  components: {
    Pokemon,
    draggable: VueDraggableNext,
    Loader
  },
  methods: {
    getId(pos) {
      var res = this.id_box[pos].id;
      console.log(res);
      return res;
    },
    getCookie(cookieName) {
      let cookie = {};
      document.cookie.split(';').forEach(function (el) {
        let [key, value] = el.split('=');
        cookie[key.trim()] = value;
      })
      return cookie[cookieName];
    },

    async requestBox() {
      this.loaded = false;
      var token = this.getCookie('token');
      var idBox = this.id_box[this.boxBackground - 1].id;

      var pokemons = await (await fetch("http://localhost:8080/requireBox/" + idBox, {
        headers: {
          'Authorization': 'Bearer ' + token
        }

      })).json();
      this.pokemons = pokemons;
      console.log(this.pokemons);
      this.loaded = true;
    },
    async delete_(pkmn) {  
      await (await fetch("http://localhost:8080/removePokemon", {
        method: "POST",
        body: JSON.stringify({
          pok_id: pkmn,
          box: this.id_box[this.boxBackground - 1].id,
        }),
        headers: {
          "Content-Type": "application/json",
          'Authorization': 'Bearer ' + this.getCookie("token")
        }
      }));
      this.requestBox();
      alert("Pokemon deleted successfully!");
    },

    log(event) {
      console.log(event)
    },

    toggle() {
      this.isHidden = !this.isHidden;
    }

  },





})
</script>


<style>
.all {
  font-family: "pokemon";
  font-size: 55px;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3.5%;
  color: rgb(243, 113, 113);

}

.label {
  font-size: 70%;
}

.boxcontainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  min-width: 60%;
  min-height: 80%;
}

.switcher {
  width: 50%;
  display: flex;
  align-items: center;
  object-fit: contain;
  margin-left: 4%;
  position: relative;
}

.switch {
  width: 80%;
  height: 75%;
  background-color: rgba(255, 0, 0, 0.315);
  border: 2px solid rgb(240, 161, 161);
  border-radius: 10px;
  font-size: 40%;
  color: white;
  text-align: center;
  font-weight: bold;
}

.switch:hover {
  transition: 0.5s;
  background-color: rgb(253, 245, 245);
  color: red;
  transform: scale(1.2);
}

.btncontainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7%;
  object-fit: contain;
  position: relative;
  overflow: auto;
}

.action {
  color: white;
  font-size: 40%;
  object-fit: contain;
  background-color: rgba(255, 0, 0, 0.315);
  border: 2px solid rgb(240, 161, 161);
  border-radius: 10px;
}

.action:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background-color: rgb(253, 245, 245);
  color: red;
}



.toolbar {
  padding: 1%;
  overflow: auto;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  background: -webkit-linear-gradient(red, rgb(255, 147, 147));
  border-top: 5px outset -webkit-linear-gradient(red, rgb(255, 147, 147));
  border-right: 5px outset -webkit-linear-gradient(red, rgb(255, 147, 147));
  border-left: 5px outset -webkit-linear-gradient(red, rgb(255, 147, 147));
  border-radius: 10px 10px 0px 0px;
  width: 50%;
  height: 80px;
  max-height: 80px;
}

.unlogged{
  font-size: 30px;
  color: rgb(175, 15, 15);
  text-align: center;
  align-self: center;
  display:block;
  padding: 1%;
  margin:auto;
  margin-top: 15%;
}

.box {
  margin: auto;
  border-radius: 0px 10px 10px 10px;
  width: 100%;
  min-width: 1100px;
  height: 550px;
  z-index: 10;
  background: var(--box-bg);
  background-size: contain;
  display: flex;
  flex-direction: row;
  gap: 1%;
  padding: 1%;
  flex-wrap: wrap;
  align-content: flex-start;
  -webkit-animation: fadein 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s;
  /* Firefox < 16 */
  position: relative;
}

.draggable {
  flex-wrap: wrap;
  align-content: flex-start;
  display: flex;
  gap: 5%;
  overflow-y: scroll;
  padding: 1%;
  flex-direction: row;
  width: 100%;
  height: 530px;
}

.pkmn {
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
}

.rlink {
  align-self: center;
  margin-top: 2%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
</style>