<template>
    <div class="login">
        <h1 class="logintitle">Login</h1>
        <div class="frame">
            <form class="loginForm">
                <input class="input" v-model="username" type="text" placeholder="Username">
                <input class="input" v-model="password" type="password" placeholder="Password">
                <input class="btn2" v-on:click="login()" type="button" placeholder="" value="Login">
            </form>
        </div>
    </div>

</template>



<script>

export default ({
  data() {
    return {
      username: "",
      password: "",
      user: null,
    };
  },
  methods: {
    async login() { 

        var user = await (await fetch("http://localhost:8080/api/login", {
            method: "post",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: this.username,
                password: this.password,
            })
            
        }).then(function(response){ 
        return response.json()}));
        
        console.log(user["message"]);

        if (user["message"] !== "Unauthorized") {
            document.cookie = "token=" + user.access_token;
            document.cookie = "name=" + user.user.id;
            alert("Logged successfully")
            this.$router.push({ path: '/' })
        } else {
            alert("Unauthorized user") 
        }
        

       
 
    }, 
  },
})
</script>



<style>
    .logintitle{
        text-align: center;
        margin-top: 3%;
        font-size: 300%;
        color:  rgb(243, 113, 113);
    }
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        flex-direction: column;
    }

    .frame{
        width:90%;
        height:90%;
        padding:1%;
        
    }

    .input{
        margin-bottom: 5%;
        border: 3px solid lightgray;
        height:20%;
        padding:2%;
    }

    .input:focus-visible{
        transition: 0.7s;
        border: 3px solid red !important;
        outline: none !important;
    }

    .loginForm {
        width:20%;
        display: flex;
        flex-direction: column;
        margin:auto;
    }

    .btn2{
        background: -webkit-linear-gradient(red, rgb(255, 147, 147));
        width: 60%;
        margin:auto;
        font-size: 100%;
        border-radius: 10px;
        color: white;
        font-size: 24px;
        margin-top: 2%;
    }

    .btn2:hover{
        transition: 0.2s;
        transform: scale(1.1);
    }
</style>
