

<template>
  <div class="textDiv">
    <h1 class="title2">Pokemon table list</h1>

    <div>
      <input v-model="query" class="input" id="input" type="text">
    </div>

    <Loader v-bind:hidden="loaded" />

    <div class="divver" v-bind:hidden="!loaded">
      <table id="table">
        <tr>
          <th class='header'>Immagine</th>
          <th class='header'>Id</th>
          <th class='header'>Pokèmon</th>
          <th class='header'>Altezza</th>
          <th class='header'>Peso medio</th>
          <th class='header'>+</th>
        </tr>
        <tr class="content" v-for="pokemon in filtered" :key="pokemon.pok_id">
          <td><img v-bind:src="linkImg(pokemon.pok_name)"></td>
          <td>{{pokemon.pok_id}}</td>
          <td>{{pokemon.pok_name}}</td>
          <td>{{pokemon.pok_height}}</td>
          <td>{{pokemon.pok_weight}}</td>
          <td v-on:click="add(pokemon.pok_id)" ><img class="btn" src="../assets/addcircle.svg"></td>
        </tr>
      </table>
    </div>
  </div>
  
</template>

<script>
import Loader from "@/components/Loader.vue";

export default {
  components: {
    Loader
  },
  async mounted() {
    //console.log("Starting services...");
    //console.log(document.cookie); 
    function getCookie(cookieName) {
    let cookie = {};
    document.cookie.split(';').forEach(function(el) {
      let [key,value] = el.split('=');
      cookie[key.trim()] = value;
    })
    return cookie[cookieName];
  }
    var token = getCookie('token');

    var pokemons = await (await fetch("http://localhost:8080/pokemon",
      {
        headers:{
          'Authorization':'Bearer ' + token
        }

    } )).json();
    this.pokemons = pokemons;
    this.loaded = true
  },
  data() {
    return {
      pokemons: [],
      query: "",
      loaded: false
    };
  },
  computed: {
    filtered() {
      return this.pokemons.filter(pokemon => pokemon.pok_name.includes(this.query))
    },  
  },
  methods: {
       linkImg(pokemonName) {
        return "https://img.pokemondb.net/sprites/home/normal/" +  pokemonName + ".png"
      },

      getCookie(cookieName) {
        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
          let [key,value] = el.split('=');
          cookie[key.trim()] = value;
        })
        return cookie[cookieName];
      },

      async add(id) {

        console.log(id);
        console.log(this.$route.params.id);

          await (await fetch("http://localhost:8080/addPokemon", {
            method: "POST",
            body: JSON.stringify({
                pok_id: id,
                box: this.$route.params.id,
            }),
            headers: {
              'Authorization':'Bearer ' + this.getCookie("token"),
              "Content-Type": "application/json"
            },
          }));
            
          alert("Pokemon added successfully!");

    },
    },
};
 
</script>


<style>

.title2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3.5%;
  font-size: 300%;
  color:  rgb(243, 113, 113);
  
}

body{
  font-family: "pokemon";
  letter-spacing: 4px;
}

.content{
  font-size: 110%;
}

.divver{
  width:50%
}

.header{
  background: -webkit-linear-gradient(red, rgb(255, 147, 147));
  font-size: 150%;
  padding: 1%;
  text-align: center;
  position: sticky;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.textDiv {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  text-align: center;
}

.input {
  font-size: 20px;
  margin-bottom: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

/* AnimationFrames */
.btn{
  border-radius: 20px;
}

.btn:hover{
  transition: 0.7s;
  background: -webkit-linear-gradient(red, rgb(255, 147, 147));
  transform: scale(1.2)
}
</style>