<template>
    <div class="login">
        <h1 class="logintitle">Register</h1>
        <div class="frame">
            <form class="loginForm">
                <input class="input" v-model="username" type="text" placeholder="Username">
                <input class="input" v-model="password" type="password" placeholder="Password">
                <input class="btn2" v-on:click="register()" type="button" placeholder="" value="Registrati">
            </form>
        </div>
    </div>
</template>



<script>

export default ({
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods: {
    async register() {
        console.log(this.username);
        console.log(this.password);
        if (this.username != "" && this.password != "") {
            await (await fetch("http://localhost:8080/register", {
                method: "POST",
                body: JSON.stringify({
                    username: this.username,
                    password: this.password,
                }),
                headers: {
                    "Content-Type": "application/json"
                }
            }));
            
            alert("Registered successfully");
            this.$router.push({ path: '/login' })
        } else {
            alert("Some data is missing...");
        }
    },
  },
})
</script>



<style>

</style>
